
.tab {
    overflow: hidden;
    white-space:nowrap;
    background-color: #f1f1f1;
}

.tab .tablinks {
    background-color: #f1f1f1;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab .tablinks:hover {
    color: red;
}

.tab .tablinks.active {
    color: red;
}

.tabcontent {
    display: none;
    margin-top: 12px;
    padding: 12px;
    border: none;
}